html,
body {
    background: rgba(0, 0, 0, .8);
}

#game {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 1080px;
    height: 768px;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .8);
}

#gameBoard {
    width: 1080px;
    height: 768px;
}

#gameInfo {
    pointer-events: none;

    position: absolute;
    left: 15px;
    top: 0;
}
